<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Bootstrap demo</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <%- include('nav.html') %>

        <h4 class="ml-2 my-3 text-center">검색하기</h4>
        <div class="container input-group mb-2 mt-4">
            <input class="form-control" id="search-input" />
            <button
                type="submit"
                class="input-group-append btn btn-danger"
                id="search"
            >
                검색
            </button>
        </div>

        <h4 class="ml-2 my-3 text-center">리스트</h4>
        <div class="container mt-4">
            <ul class="list-group">
                <% for (let i = 0; i < posts.length; i++){ %>
                <li class="list-group-item">
                    <a href="/detail/<%= posts[i]._id%>">
                        <h4>제목: <%= posts[i].제목 %></h4>
                    </a>
                    <!-- <p>
                        작성자: <%= getAuthorName(posts[i].작성자, loginData) %>
                    </p> -->
                    <p>작성자: <%= posts[i].작성자 %></p>
                    <p>시각: <%= posts[i].날짜 %></p>
                    <p>내용: <%=posts[i].내용 %></p>
                    <button
                        class="btn btn-outline-secondary delete"
                        data-id="<%= posts[i]._id %>"
                    >
                        삭제
                    </button>
                </li>
                <% } %>
            </ul>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"
        ></script>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        <script>
            // 제이쿼리
            $('.delete').click((e) => {
                let confirmDelete = confirm('정말로 이 글을 삭제하시겠습니까?');
                if (!confirmDelete) {
                    return;
                }
                let postNum = e.target.dataset.id;
                let listItem = $(e.target).closest('li');
                $.ajax({
                    method: 'DELETE',
                    url: '/delete',
                    data: { _id: postNum },
                    dataType: 'json',
                })
                    .done((result) => {
                        // AJAX 성공시 실행할 코드는 여기
                        listItem.fadeOut(() => {
                            // 리스트 아이템이 사라진 후 페이지를 새로고침
                            location.reload();
                        });
                    })
                    .fail((xhr, code, err) => {
                        // AJAX 실패시 실행할 코드적기
                        console.log(xhr, code, err);
                        // 서버로부터 받은 메시지 표시
                        alert(xhr.responseJSON.message);
                    });
            });
            $('#search').click(() => {
                let inputValue = $('#search-input').val();
                window.location.replace('/search?value=' + inputValue);
            });

            $('#search-input').keypress(function (event) {
                // 엔터 키의 keyCode는 13입니다.
                if (event.keyCode === 13) {
                    event.preventDefault(); // 기본 엔터 동작을 방지합니다.

                    let inputValue = $(this).val();
                    window.location.replace('/search?value=' + inputValue);
                }
            });
        </script>
    </body>
</html>
